body{
    background-color: #f4f4f4;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.flex{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
    flex-wrap: wrap;
    margin-top: 10px;
}

.container{
    width: 60%;
    max-width: 35rem;
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

input, textarea{
    width: 100%;
    margin: 5px 0;
    padding: 8px;

}

button{
    background-color: rgb(42, 42, 161);
    color: white;
    padding: 10px 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all .5s ease-in;

}

button:hover{
  background-color: rgb(111, 111, 226);  
  transform: translateY(-2px); 
}

ul{
    list-style-type: none;
    padding: 0;
}

li{
    background-color: #dddd;
    margin: 5px 0;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dark-mode{
    background-color: #222;
    color: white;
}

.dark-mode .container{
    background-color: #333;
    color: #fff;
}